manifest {
    mainScript = 'gemini-load.nf'
}

profiles {

    local {
        process.executor = 'local'
        process {
            withName:decomposeNormalize {
                container = 'sinonkt/docker-vt:latest'
            }
            withName:annotation {
                container = 'sinonkt/docker-snpeff:latest'
            }
            withName:geminiLoad {
                container = 'sinonkt/docker-gemini:latest'
            }
        }
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
        process {
            clusterOptions = '-S /bin/bash'
            withName:geminiLoad {
                clusterOptions = '-S /bin/bash -pe orte 32'

            }
        }
    }
}

env {

}

singularity {
    enabled = true
}
